/* Style the dropdown button */
.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on click */
  .show {
    display: block;
  }
  .dropbtn.nightmode {
    background-color: rgb(0, 0, 0);  /* Dark background for night mode */
    color: white;  /* Light text color for night mode */
  }
  .dropdown-content.nightmode{
    background-color: rgb(238, 255, 4);  /* Dark background for night mode */
    color: black;  /* Light text color for night mode */
  }
  .night-mode {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
  .light-mode {
      --bg-color: #ffffff;
      --text-color: #000000;
    }
  
  body {
      background-color: var(--bg-color);
      color: var(--text-color);
  }
  body.night-mode {
    background-color: #000000; /* Dark mode background */
    color: white; /* Dark mode text color */
  }
  
  body.night-mode .project-container {
    background-color: #000000; /* Dark mode background for containers */
    color: white; /* Dark mode text color */
  }